body {
  background-color: black;

}

.tictactoeContainer{
  width: 320px;
  height: 320px;
  margin: auto;
}

.tictactoeBox {
  background-color:black;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: white;
  float: left;
  color: white;
  
}

.tictactoeBoxActive {
  background-color:salmon;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: white;
  float: left;
  color: white;
  font-size: 50px;
  text-align: center;
}

.tictactoeBoxActiveO{
   background-color:green;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: white;
  float: left;
  color: white;
  font-size: 50px;
  text-align: center;
}

p {
  color: white;
}



