body {
  background-color: black;

}

.tictactoeContainer{
  padding-top: 120px;
  width: 320px;
  height: 320px;
  margin: auto;
}

.tictactoeBox {
  background-color:black;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: white;
  float: left;
  color: white;
  border-radius: 10px;
}

.buttonIcons{
  padding-bottom: 20px;
}


.tictactoeBoxActive {
  background-color:salmon;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: white;
  float: left;
  color: white;
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
}

.tictactoeBoxActiveO{
  background-color:green;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: white;
  float: left;
  color: white;
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
}

p {
  color: white;
  font-family: sans-serif;
}

button {
  margin-right: 20px;
}

.game-status{
  position: relative;
  z-index: -1;
  top: 20px;
}




